.youcanmake {
  font-size: 25px;
  font-weight: bold;
}
.amazon-charity-banner {
  background-image: url("https://m.media-amazon.com/images/G/01/x-locale/paladin/charitycentral/banner-background-image._CB309675353_.png");
  background-repeat: no-repeat, repeat;
  width: 300px;
  height: 250px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 90px;
}
.charity-name {
  position: relative;;
  font-size: 25px;
  line-height: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}